this is root page
<% if @profiles %>
	<ul>
	<% @profiles.each do |profile| %>
		<li>
			<%= link_to profile.trade, handy_profile_path(profile) %>
		</li>
	<% end %>
	</ul>
<% end %>
<% if @profile %>
	Trade: <%= @profile.trade %>
	<%= form_for @profile do |f| %>
		<%= f.label :description %>
		<%= f.text_area :description %>
		<%= f.submit "Update Profile" %>
	<% end %>
<% end %>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<%= link_to "Sign out", destroy_user_session_path %>